<% provide(:title, "Home") %>  #This is emebedded Ruby
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ping Pong Tracker Application</title>
  </head>
  <body>
    <h1>Welcome to the Ping Pong Tracker Application!</h1>
  </body>
</html>